* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    background: black;
}
h3 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}
.imagem-de-fundo {
    background: linear-gradient(rgba(0, 0, 0, .100),rgba(0,0,0,.80)100%) , url('../img/capa.jpg');
    background-size: cover;
}
/* MENU E HEADER */
#header {
    display: flex;
    width: 100%;
    height: 50px;
    color: white;
    background: black;
}
#perifericos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
#perifericos p {
    font-size: 16px;
    cursor: pointer;
}
.logo {
    margin-left: 20px;
    margin-top: -40px;
}
#logo {
    width: 200px;
    height: 120px;
    cursor: pointer;
}
.badget {
    width: 25px;
    height: 25px;
    margin: 0 30px;
    cursor: pointer;
}
.badget-perfil {
    width: 35px;
    height: 35px;
    margin-right: 60px;
    border-radius: 5px;
    cursor: pointer;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -10px;
    margin-left: -65px;
}
.menu ul {
    display: flex;
    cursor: pointer;
}
.menu li {
    font-size: 16px;
    padding: 0 10px;
    color: #ffffff;
}
.menu li:hover {
    color: #aaaaaa;
}
/* Filme principal */
.container {
    height: 100%;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: flex-start;
    justify-content: center;
}
.container img {
    width: 500px;
}
.container p {
    width: 400px;
    font-size: 18px;
    margin-bottom: -20px;
    margin-left: 30px;
}
#button {
    padding: 50px 0;
}
i {
    margin-right: 5px;
}
.btn {
    background: white;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    padding: 15px;
    width: 190px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn2 {
    background: #858383cf;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    padding: 15px;
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn:hover {
    background: black;
    color: white;
}
.btn2:hover {
    background: #aaaaaa;
}
/* Parte do carossel e das fotos */
.carossel {
    background: black;
    margin-left: 80px;
}
.box-filme {
    cursor: pointer;
}
.box-filme:hover {
    transform: scale(1.05);
}
.owl-theme {
    margin-bottom: -55px;
}
.owl-dots {
     display: none;
}
/*  SECTION MINHA LISTA */
.section-minha-lista {
    margin-left: -90px;
}
/* SECTION EM ALTA */
.section-em-alta {
    margin-top: -30px;
}
/* SECTION ADICIONADOS RECENTEMENTE */
.section-last {
    margin-top: 30px;
    margin-bottom: 60px;
}
/* Rodapé */
footer {
    background: black;
    color: #aaaaaa;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #0095f6;
}
/* MENU RESPONSIVO */
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 380px;
    cursor: pointer;
}
.navegar {
    font-size: 12px;
}
/*MEDIA QUERY */
@media screen and (max-width: 900px) {
    #perifericos {
        display: flex;
    }
    #perifericos p {
        display: none;
    }
    .badget {
         margin: 0 10px;
    }
    .menu nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        width: 150px;
        right: 300px;
        top: 50px;
        background: black;
    }
    .menu li {
        padding: 3px 0;
        color: white;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -10px;
        top: -32px;
        justify-content: space-around;
    }
    .container img {
        width: 80%;
    }
    .container p {
        width: 100%;
    }
    #button {
        display: flex;
        flex-direction: column;
    }
    .btn {
        margin: 10px;
    }
}
@media screen and (min-width: 901px) and (max-width: 1024px){
    #perifericos p {
        font-size: 14px;
    }
    .badget,
    .badget-perfil {
        width: 10%;
    }
    .menu {
       margin-left: -10px;
    }
    .menu li {
        font-size: 12px;
    }
}